.navbar {
  display: flex;
  position: relative;
  z-index: 10;
  align-items: center;
  max-width: 96%;
  margin: 0 auto;
  background: linear-gradient(135deg, #e9d7ff, #f3e8ff);
  padding: 1rem 2rem;
  border-radius: 20px;
  box-shadow: 0 8px 20px black;

  a {
    text-decoration: none;
    font-weight: bold;
    padding: 0.45rem 1rem;
    border-radius: 12px;
    transition: all 0.25s ease;

    &:hover {
      background: rgba(255, 255, 255, 0.4);
      transform: translateY(-2px);
      box-shadow: 0 6px 12px black;
    }

    &.active {
      background: #7b4dff;
      color: white;
      box-shadow: 0 6px 16px rgba(123, 77, 255, 0.4);
    }
  }

  .player-area {
    margin-left: auto;
    display: flex;
    align-items: center;

    label {
      background: rgba(255, 255, 255, 0.4);
      padding: 0.3rem 0.6rem;
      margin-right: 5px;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }

   button {
      border: none;          
      background: transparent;
      font-size: 1.2rem; 
      cursor: pointer;
      padding: 0;      
      transition: all 0.2s;

      &:hover {
        transform: scale(1.5); 
      }
    }
  }
}
