section {
  position: absolute;
  bottom: 10px;    
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  z-index: 1;   
  
  .loader {
    position: absolute;      
    bottom: 50px;            
    left: 50%;               
    transform: translateX(-50%); 
    border: 5px solid rgba(0,0,0,0.1);
    border-top: 5px solid #7b4dff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}

.terreno {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 2;
  max-width: 850px;
  overflow: hidden;

  img {
    height: 30px;
    width: auto;
  }
}
