<main>
  <h2>{{ mode === 'login' ? 'Login' : 'Registrazione' }}</h2>

  <form [formGroup]="myForm" (ngSubmit)="submitForm()">

    <label for="username">Nome utente</label>
    <input id="username" type="text" formControlName="username">
    @if (myForm.get('username')?.invalid && myForm.get('username')?.touched) {
      <div class="error">Il nome è obbligatorio</div>
    }

    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password">
    @if (myForm.get('password')?.invalid && myForm.get('password')?.touched) {
      <div class="error">La password è obbligatoria</div>
    }

    <button type="submit">{{ mode === 'login' ? 'Accedi' : 'Registrati' }}</button>
  </form>

  <button (click)="toggleMode()">
    {{ mode === 'login' ? 'Non hai un account? Registrati' : 'Hai già un account? Accedi' }}
  </button>

  <small>Per giocare non c'è bisogno di fare l'accesso, tuttavia il tuo punteggio non verrà messo in classifica</small>
</main>
