.presentatore {
  position: absolute;
  bottom: 200px;
  right: -200px;     
  z-index: 5;
  transition: right 1.5s ease-out;

  &.entra {
    right: 200px;
  }

  &.esce {
    right: -250px;
  }

  img {
    width: 115px;
    height: auto;
    display: block;
  }
}

.overlay {
  position: absolute; 
  bottom: 400px; 
  right: 20px; 
  border-radius: 20px;
  border: 2px solid black;
  background: white;
  box-shadow: 10px 10px 20px black;

  .button {
    position: absolute; 
    top: 5px; 
    right: 5px; 
    border: none;
    background: #ff4d4d; 
    color: white; 
    font-size: 12px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .testo {
    font-family: 'comic sans ms';
    font-size: 12px;
    margin: 20px 20px 20px 20px;
    color: #333;
  }
}
