<div class="presentatore"
     [class.entra]="entra()"
     [class.esce]="uscita()">
  <img src="assets/images/presentatore.webp" alt="Presentatore">
</div>

@if (istruzioniVisibili()) {
  <div class="overlay">
    <button class="button" (click)="playUscita()">✕</button>
    <div class="testo">
      <p>
        COLPISCILA CON IL TUO COLPO MICIDIALE!!<br>
        <br> <strong>1.</strong> <strong>A</strong> per muoverti a sinistra, <strong>D</strong> per muoverti a destra!
        <br> <strong>2.</strong> <strong>BARRA SPAZIATRICE</strong> per saltare!
        <br> <strong>3.</strong> <strong>SHIFT</strong> per tirare una cannonata spaziale!
      </p>
    </div>
  </div>
}