.palla {
  position: absolute;
  z-index: 2;
  transition: left 0.4s ease-out, bottom 0.3s ease-out;

  .pallaImg {
    display: block;
    width: 50px;
    height: auto;
    //border: 2px solid black; per vedere il bordo
  }

  .effetto {
    position: absolute;
    left: -470px;   
    bottom: -170px;
    z-index: 1;  

    img {
      display: block;
      width: 660px;
      height: auto;
    }
  }
}
