.vittima {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: scaleX(-1);
  z-index: 1;

  img {
    display: block;
    width: 200px;
    height: auto;
  }
}

.punteggio {
  position: absolute;
  top: -10px;    
  left: 220px;
  transform: translateX(-50%) scaleX(-1) rotate(-30deg);

  &.nuke, &.flame {
    display: block;
    color: red;
    font-size: 2.7rem;
    font-weight: bold;
    text-shadow: 5px 10px 10px black;
  }

  &.hit {
    display: block;
    color: gold;
    font-size: 2rem;
    text-shadow: 5px 10px 10px black;
  }
}

.effetto {
  position: absolute;
  z-index: 4;

  img {
    position: absolute;
    height: auto;
  }

  &.nuke img {
    bottom: -80px;
    left: -220px;
    width: 650px;
  }

  &.flame img, &.hit img {
    bottom: 80px;
    right: 60px;
    width: 100px;
  }
}
