.campo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;      
  pointer-events: none;
  z-index: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
  }
}
